SERVER_PORT=8080
SERVER_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_SSLMODE=disable

MONGO_URI=mongodb://localhost:27017
MONGO_DB=your_mongo_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=pos-core-api

JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRES_HOURS=2
JWT_REFRESH_EXPIRES_DAYS=7

MIDTRANS_SERVER_KEY=your-server-key
MIDTRANS_IS_PRODUCTION=false
